/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; /* Semi-bold */
}

/* Body Text */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6; /* Better readability */
}

/* Bold Body Text */
strong, b {
  font-weight: 500;
}

/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* .tools-carousel-track {
  animation: scroll linear infinite;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}